body
{
color:white;
background-color:red;
}
h1
{
	font-family:elephant;
}
h2
{
	font-family:calibri;
}
h3

{
	font-family:verdana;
}
h4
{
	font-family:times new roman;
}
h5
{
	font-family:dotum;
}
h6
{
	font-family:centuary;
}
h7
{
	font-family:gadugi;
}
